
@media (max-width: 1000px){
	.home__body{
		padding: 50px 0;
	}
	.home{
		background-color: #fff;
	}
}
@media (max-width: 900px){
	.header {
		padding: 20px 0;
	}
	.header__body{
		display: block;
		text-align: center;
	}
	.header__list{
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	.header__bag{
		display: none;
	}
	.header__item:not(:last-child){
		margin-right: 15px;
	}
}
@media (max-width: 550px){
	.home__text{
		font-family: 'Yellowtail';
		font-weight: 400;
		font-size: 25px;
		line-height: 180%;
		letter-spacing: 0.36px;
		text-transform: capitalize;
		color: #7EB693;
		margin-bottom: 14px;
	}
	.home__title{
		font-weight: 700;
		font-size: 50px;
		line-height: 120%;
		letter-spacing: 0.36px;
		max-width: 496px;
		margin-bottom: 55px;
	}
	.home__link{
		font-size: 15px;
		line-height: 168%;
		letter-spacing: 0.36px;
		text-transform: capitalize;
		color: #274C5B;
		background: #EFD372;
		border: 1px solid #EFD372;
		border-radius: 16px;
		padding: 15px 20px ;
		position: relative;
		display: inline-block;
		transition: 0.3s ease-in-out;
	}
}